a {
  color: inherit;
}

#root {
  overflow-x: hidden;
  min-height: 100vh;
}

#copyright {
  margin-top: 1em;
}

.side-button-list-nested {
  padding-left: 24px !important;
}

.markdown-image {
  max-width: 100%;
  max-height: 50vh;
}

.intro-image {
  max-width: 100%;
  border-radius: 20%;
}
